.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.stars:global(.__wab_instance) {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 1680px;
  height: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  z-index: -1;
  max-width: 100%;
  align-self: stretch;
  transition-property: all;
  transition-duration: 1s;
  max-height: 100%;
  min-height: 0;
  display: none;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.starsCss:global(.__wab_instance):global(.__wab_instance) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  display: none;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 0px 36px;
}
.link___1OdHd {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: #ffffff;
  min-width: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  height: 100px;
  min-width: 100px;
  align-self: auto;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__rKUa {
  object-fit: cover;
}
.img__rKUa > picture > img {
  object-fit: cover;
}
.img__rKUa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___3WroF {
  object-fit: cover;
}
.img___3WroF > picture > img {
  object-fit: cover;
}
.img___3WroF > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__xFd8 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.link___7NUrL {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.link__vxeDr {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 0px 24px 96px;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.reveal__tQdFo:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.privetuliki:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: absolute;
  height: 100px;
  left: 0px;
  top: 0px;
  width: 100px;
  min-height: 100px;
  min-width: 100px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .privetuliki:global(.__wab_instance):global(.__wab_instance) {
    width: 100px;
    left: auto;
    top: auto;
  }
}
.astronautHi:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .astronautHi:global(.__wab_instance):global(.__wab_instance) {
    display: block;
  }
}
.reveal__yLuTm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 70px;
  padding-bottom: 43px;
  text-align: center;
  font-size: 64px;
  padding-top: 0px;
  min-width: 0;
}
.freeBox__gmhAg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gmhAg {
    width: 100%;
    min-width: 0;
    padding: 24px 24px 24px 12px;
  }
}
.freeBox__wTv7M {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 8px;
}
.freeBox__kSpZp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 48px;
  height: 48px;
  max-width: 100%;
  align-self: auto;
  background: #ffffff;
  transform: translateX(0px) translateY(450px) translateZ(0px);
  flex-wrap: nowrap;
  align-content: stretch;
  z-index: 1;
  box-shadow: 3px 4px 16px 3px #ffffff73;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
  border-style: none;
}
.whiteBall__yvhsF:global(.__wab_instance):global(.__wab_instance) {
  position: absolute;
  left: 25px;
  top: 55px;
}
.text__d6HFy {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  min-width: 0;
}
.freeBox___3RcbX {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 3px;
  height: 100%;
  max-width: 3px;
  background: linear-gradient(
      0deg,
      #ce9fff0d 12%,
      #4c33ce99 29%,
      #4f6fe6 54%,
      #1a9b8999 75%,
      #56b9ff0d 93%
    )
    0% 0% / 100% 100% repeat;
  left: auto;
  top: auto;
  flex-grow: 1;
  min-height: 900px;
  transform: translateX(0px) translateY(-25px) translateZ(0px);
  overflow: hidden;
  z-index: 0;
  align-self: center;
}
.freeBox__bFlE {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 1200px;
  height: auto;
  max-width: 100%;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  margin-left: 36px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__bFlE {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: 100%;
    width: auto;
    grid-row-gap: 64px;
    min-width: 300px;
    max-width: 295px;
    min-height: 0;
    padding: 45px 14px 45px 11px;
    margin: 0px;
  }
}
.freeBox__wgUvz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wgUvz {
    width: auto;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
  }
}
.h2__h94Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox___5T9Uh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5T9Uh {
    width: auto;
    min-width: 300px;
    min-height: 300px;
    max-width: 100%;
  }
}
.h2__oizFj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__nT1RN {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__nT1RN {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.h2__gpVDs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__yi4Da {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__yi4Da {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.h2___8Ntcm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__s39Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__s39Y {
    padding-left: 12px;
  }
}
.freeBox__lZr3U {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 1200px;
  height: auto;
  max-width: 100%;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  margin-left: 36px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lZr3U {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: 100%;
    width: auto;
    margin-left: 0px;
    grid-row-gap: 64px;
    min-width: 320px;
    min-height: 0;
    padding: 45px 14px 45px 11px;
  }
}
.freeBox___3MTap {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3MTap {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.text__gamgG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___3Z4K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Z4K {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.freeBox__uv9Zz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uv9Zz {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.text__zxFld {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__q6B0K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__q6B0K {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.text__uPQoI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox___6SrGd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 8px;
}
.freeBox__sYUoU {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 48px;
  height: 48px;
  max-width: 100%;
  align-self: auto;
  background: #ffffff;
  transform: translateX(0px) translateY(450px) translateZ(0px);
  flex-wrap: nowrap;
  align-content: stretch;
  z-index: 1;
  box-shadow: 3px 4px 16px 3px #ffffff73;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
  border-style: none;
}
.text__pg7Zl {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  min-width: 0;
}
.whiteBall__cXcbz:global(.__wab_instance):global(.__wab_instance) {
  position: absolute;
  left: 25px;
  top: 55px;
}
.freeBox___90PJ {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 3px;
  height: 100%;
  max-width: 3px;
  background: linear-gradient(
      0deg,
      #ce9fff0d 4%,
      #29eb9099 29%,
      #17308b 54%,
      #17c12599 75%,
      #56b9ff0d 94%
    )
    0% 0% / 100% 100% repeat;
  left: auto;
  top: auto;
  flex-grow: 1;
  min-height: 900px;
  transform: translateX(0px) translateY(-25px) translateZ(0px);
  overflow: hidden;
  z-index: 0;
  align-self: center;
}
.freeBox___07Jhb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___07Jhb {
    padding-left: 12px;
  }
}
.freeBox__xqIn1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 8px;
}
.freeBox__uO43Q {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 48px;
  height: 48px;
  max-width: 100%;
  align-self: auto;
  background: #ffffff;
  transform: translateX(0px) translateY(450px) translateZ(0px);
  flex-wrap: nowrap;
  align-content: stretch;
  z-index: 1;
  box-shadow: 3px 4px 16px 3px #ffffff73;
  flex-shrink: 0;
  border-radius: 99px;
  padding: 8px;
  border-style: none;
}
.text___1Vjg1 {
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  left: 0px;
  top: 0px;
  z-index: 1;
  position: sticky;
  min-width: 0;
}
.whiteBall__zdoJx:global(.__wab_instance):global(.__wab_instance) {
  position: absolute;
  left: 25px;
  top: 55px;
}
.freeBox___4XCcr {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 3px;
  height: 100%;
  max-width: 3px;
  background: linear-gradient(
      0deg,
      #ce9fff0d 6%,
      #b5aff32e 11%,
      #2ddbca99 29%,
      #d91515 54%,
      #4f0a9199 75%,
      #56b9ff0d 91%
    )
    0% 0% / 100% 100% repeat;
  left: auto;
  top: auto;
  flex-grow: 1;
  min-height: 900px;
  transform: translateX(0px) translateY(-25px) translateZ(0px);
  overflow: hidden;
  z-index: 0;
  align-self: center;
}
.freeBox__w6N41 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  width: 1200px;
  height: auto;
  max-width: 100%;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  margin-left: 36px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__w6N41 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    height: 100%;
    width: auto;
    margin-left: 0px;
    grid-row-gap: 64px;
    min-width: 320px;
    min-height: 0;
    padding: 45px 14px 45px 11px;
  }
}
.freeBox__gmpNu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gmpNu {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.text__yrbp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__kjJq3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__kjJq3 {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.text___1GTpb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__wgkPw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wgkPw {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.text__cYmYi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__lSon7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lSon7 {
    width: auto;
    min-width: 300px;
    min-height: 300px;
  }
}
.text___1Sh5K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.freeBox__eY28 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  max-width: 100%;
  background: #000000;
  margin-bottom: 0px;
  min-width: 0;
  padding: 16px 16px 0px;
}
.footer > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.footer > :global(.__wab_flex-container) > *,
.footer > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.footer > :global(.__wab_flex-container) > picture > img,
.footer
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .footer > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox___5UgxT {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1080px;
  margin-top: calc(25px + 16px) !important;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  min-width: 0;
}
.freeBox___5UgxT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___5UgxT > :global(.__wab_flex-container) > *,
.freeBox___5UgxT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___5UgxT > :global(.__wab_flex-container) > picture > img,
.freeBox___5UgxT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5UgxT {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: calc(25px + 16px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5UgxT > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5UgxT > :global(.__wab_flex-container) > *,
  .freeBox___5UgxT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___5UgxT > :global(.__wab_flex-container) > picture > img,
  .freeBox___5UgxT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.sphere:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.loader:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .loader:global(.__wab_instance):global(.__wab_instance) {
    margin-top: calc(71px + 16px) !important;
    margin-bottom: 72px;
  }
}
.freeBox___3Q0X {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___3Q0X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___3Q0X > :global(.__wab_flex-container) > *,
.freeBox___3Q0X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Q0X > :global(.__wab_flex-container) > picture > img,
.freeBox___3Q0X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Q0X {
    margin-top: calc(0px + 16px) !important;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Q0X > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3Q0X > :global(.__wab_flex-container) > *,
  .freeBox___3Q0X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___3Q0X > :global(.__wab_flex-container) > picture > img,
  .freeBox___3Q0X
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.button2:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button2:global(.__wab_instance):global(.__wab_instance) {
    margin-top: calc(61px + 8px) !important;
  }
}
.freeBox__m90Sb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 500;
  background: #000000d9;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-align: left;
  text-transform: none;
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none;
  text-overflow: clip;
  border-radius: 6px;
  border-width: 0px;
}
.button3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  display: none;
}
.svg__xCnim {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__yu2NM {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #1b1b18;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
}
.svg__bPbyL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns {
  display: flex;
  position: relative;
  max-width: 960px;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  margin-top: calc(25px + 16px) !important;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 64px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 64px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 64px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 64px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-top: calc(25px + 16px) !important;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 64px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 64px;
  }
}
.column__ajAs3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__ajAs3 {
    width: 100%;
  }
}
.freeBox__fE72E {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__fE72E > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__fE72E > :global(.__wab_flex-container) > *,
.freeBox__fE72E > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fE72E > :global(.__wab_flex-container) > picture > img,
.freeBox__fE72E
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__tPnmc {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tPnmc > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__tPnmc > :global(.__wab_flex-container) > *,
.freeBox__tPnmc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tPnmc > :global(.__wab_flex-container) > picture > img,
.freeBox__tPnmc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__eHeG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  min-width: 0;
}
.column___3COw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___3COw {
    width: 100%;
  }
}
.freeBox__bvIkk {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__bvIkk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__bvIkk > :global(.__wab_flex-container) > *,
.freeBox__bvIkk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bvIkk > :global(.__wab_flex-container) > picture > img,
.freeBox__bvIkk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2___9VtLi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  min-width: 0;
}
.column___5L788 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___5L788 {
    width: 100%;
  }
}
.freeBox__gTch9 {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__gTch9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gTch9 > :global(.__wab_flex-container) > *,
.freeBox__gTch9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gTch9 > :global(.__wab_flex-container) > picture > img,
.freeBox__gTch9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__uzXgi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  min-width: 0;
}
.column__wDv4M {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 25%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__wDv4M {
    width: 100%;
  }
}
.freeBox__wwLs {
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  flex-direction: column;
  min-width: 0;
}
.freeBox__wwLs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__wwLs > :global(.__wab_flex-container) > *,
.freeBox__wwLs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wwLs > :global(.__wab_flex-container) > picture > img,
.freeBox__wwLs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h2__cTeau {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 24px;
  min-width: 0;
}
.freeBox__d5Gko {
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  display: none;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__d5Gko {
    display: none;
  }
}
.freeBox__wF1Z {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #000000;
  min-width: 0;
  padding: 8px;
}
.text___639E2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 16px;
  margin-top: 26px;
  min-width: 0;
}
