@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-wJ2qx1hmpguf_font-family: "Inter", sans-serif;
  --mixin-wJ2qx1hmpguf_font-size: 16px;
  --mixin-wJ2qx1hmpguf_font-weight: 400;
  --mixin-wJ2qx1hmpguf_font-style: normal;
  --mixin-wJ2qx1hmpguf_color: #535353;
  --mixin-wJ2qx1hmpguf_text-align: left;
  --mixin-wJ2qx1hmpguf_text-transform: none;
  --mixin-wJ2qx1hmpguf_line-height: 1.5;
  --mixin-wJ2qx1hmpguf_letter-spacing: normal;
  --mixin-wJ2qx1hmpguf_white-space: pre-wrap;
  --mixin-wJ2qx1hmpguf_user-select: text;
  --mixin-wJ2qx1hmpguf_text-decoration-line: none;
  --mixin-wJ2qx1hmpguf_text-overflow: clip;
  --mixin-3RtOv9dArNDc_color: #000000;
  --mixin-3RtOv9dArNDc_font-weight: 900;
  --mixin-3RtOv9dArNDc_font-size: 72px;
  --mixin-3RtOv9dArNDc_line-height: 1;
  --mixin-3RtOv9dArNDc_letter-spacing: -4px;
  --mixin-3RtOv9dArNDc_white-space: pre-wrap;
  --mixin-y_NuQSBIb7Rv_color: #000000;
  --mixin-y_NuQSBIb7Rv_font-size: 48px;
  --mixin-y_NuQSBIb7Rv_font-weight: 700;
  --mixin-y_NuQSBIb7Rv_letter-spacing: -1px;
  --mixin-y_NuQSBIb7Rv_line-height: 1.1;
  --mixin-y_NuQSBIb7Rv_white-space: pre-wrap;
  --mixin-tXp-7hei1CJt_color: #0070f3;
  --mixin-tXp-7hei1CJt_white-space: pre-wrap;
  --mixin-pfHSZqVaR9vH_color: #000000;
  --mixin-pfHSZqVaR9vH_font-size: 32px;
  --mixin-pfHSZqVaR9vH_font-weight: 600;
  --mixin-pfHSZqVaR9vH_letter-spacing: -0.8px;
  --mixin-pfHSZqVaR9vH_line-height: 1.2;
  --mixin-pfHSZqVaR9vH_white-space: pre-wrap;
  --mixin-HYgZFKy2pUCO_color: #000000;
  --mixin-HYgZFKy2pUCO_font-size: 24px;
  --mixin-HYgZFKy2pUCO_font-weight: 600;
  --mixin-HYgZFKy2pUCO_letter-spacing: -0.5px;
  --mixin-HYgZFKy2pUCO_line-height: 1.3;
  --mixin-HYgZFKy2pUCO_white-space: pre-wrap;
  --mixin-NznuAWTIEsqA_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-NznuAWTIEsqA_border-bottom-color: #dddddd;
  --mixin-NznuAWTIEsqA_border-bottom-style: solid;
  --mixin-NznuAWTIEsqA_border-bottom-width: 1px;
  --mixin-NznuAWTIEsqA_border-left-color: #dddddd;
  --mixin-NznuAWTIEsqA_border-left-style: solid;
  --mixin-NznuAWTIEsqA_border-left-width: 1px;
  --mixin-NznuAWTIEsqA_border-right-color: #dddddd;
  --mixin-NznuAWTIEsqA_border-right-style: solid;
  --mixin-NznuAWTIEsqA_border-right-width: 1px;
  --mixin-NznuAWTIEsqA_border-top-color: #dddddd;
  --mixin-NznuAWTIEsqA_border-top-style: solid;
  --mixin-NznuAWTIEsqA_border-top-width: 1px;
  --mixin-NznuAWTIEsqA_border-bottom-left-radius: 3px;
  --mixin-NznuAWTIEsqA_border-bottom-right-radius: 3px;
  --mixin-NznuAWTIEsqA_border-top-left-radius: 3px;
  --mixin-NznuAWTIEsqA_border-top-right-radius: 3px;
  --mixin-NznuAWTIEsqA_font-family: "Inconsolata";
  --mixin-NznuAWTIEsqA_padding-bottom: 1px;
  --mixin-NznuAWTIEsqA_padding-left: 4px;
  --mixin-NznuAWTIEsqA_padding-right: 4px;
  --mixin-NznuAWTIEsqA_padding-top: 1px;
  --mixin-NznuAWTIEsqA_white-space: pre-wrap;
  --mixin-5tk0Ll7mEuCU_border-left-color: #dddddd;
  --mixin-5tk0Ll7mEuCU_border-left-style: solid;
  --mixin-5tk0Ll7mEuCU_border-left-width: 3px;
  --mixin-5tk0Ll7mEuCU_color: #888888;
  --mixin-5tk0Ll7mEuCU_padding-left: 10px;
  --mixin-5tk0Ll7mEuCU_white-space: pre-wrap;
  --mixin-taGruVBZ3AFE_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-taGruVBZ3AFE_border-bottom-color: #dddddd;
  --mixin-taGruVBZ3AFE_border-bottom-style: solid;
  --mixin-taGruVBZ3AFE_border-bottom-width: 1px;
  --mixin-taGruVBZ3AFE_border-left-color: #dddddd;
  --mixin-taGruVBZ3AFE_border-left-style: solid;
  --mixin-taGruVBZ3AFE_border-left-width: 1px;
  --mixin-taGruVBZ3AFE_border-right-color: #dddddd;
  --mixin-taGruVBZ3AFE_border-right-style: solid;
  --mixin-taGruVBZ3AFE_border-right-width: 1px;
  --mixin-taGruVBZ3AFE_border-top-color: #dddddd;
  --mixin-taGruVBZ3AFE_border-top-style: solid;
  --mixin-taGruVBZ3AFE_border-top-width: 1px;
  --mixin-taGruVBZ3AFE_border-bottom-left-radius: 3px;
  --mixin-taGruVBZ3AFE_border-bottom-right-radius: 3px;
  --mixin-taGruVBZ3AFE_border-top-left-radius: 3px;
  --mixin-taGruVBZ3AFE_border-top-right-radius: 3px;
  --mixin-taGruVBZ3AFE_font-family: "Inconsolata";
  --mixin-taGruVBZ3AFE_padding-bottom: 3px;
  --mixin-taGruVBZ3AFE_padding-left: 6px;
  --mixin-taGruVBZ3AFE_padding-right: 6px;
  --mixin-taGruVBZ3AFE_padding-top: 3px;
  --mixin-taGruVBZ3AFE_white-space: pre-wrap;
  --mixin-nEATO6oC_4UJs_display: flex;
  --mixin-nEATO6oC_4UJs_flex-direction: column;
  --mixin-nEATO6oC_4UJs_align-items: stretch;
  --mixin-nEATO6oC_4UJs_justify-content: flex-start;
  --mixin-nEATO6oC_4UJs_list-style-position: outside;
  --mixin-nEATO6oC_4UJs_padding-left: 40px;
  --mixin-nEATO6oC_4UJs_position: relative;
  --mixin-nEATO6oC_4UJs_list-style-type: disc;
  --mixin-nEATO6oC_4UJs_white-space: pre-wrap;
  --mixin-onTSwaV-TcMv6_display: flex;
  --mixin-onTSwaV-TcMv6_flex-direction: column;
  --mixin-onTSwaV-TcMv6_align-items: stretch;
  --mixin-onTSwaV-TcMv6_justify-content: flex-start;
  --mixin-onTSwaV-TcMv6_list-style-position: outside;
  --mixin-onTSwaV-TcMv6_padding-left: 40px;
  --mixin-onTSwaV-TcMv6_position: relative;
  --mixin-onTSwaV-TcMv6_list-style-type: decimal;
  --mixin-onTSwaV-TcMv6_white-space: pre-wrap;
  --mixin--aKyJ739bVcjE_color: #000000;
  --mixin--aKyJ739bVcjE_font-size: 20px;
  --mixin--aKyJ739bVcjE_font-weight: 600;
  --mixin--aKyJ739bVcjE_letter-spacing: -0.3px;
  --mixin--aKyJ739bVcjE_line-height: 1.5;
  --mixin--aKyJ739bVcjE_white-space: pre-wrap;
  --mixin-fpszNwxTlBMbq_color: #000000;
  --mixin-fpszNwxTlBMbq_font-size: 16px;
  --mixin-fpszNwxTlBMbq_font-weight: 600;
  --mixin-fpszNwxTlBMbq_line-height: 1.5;
  --mixin-fpszNwxTlBMbq_white-space: pre-wrap;
  --mixin-VJR9jnQVCoesm_color: #3291ff;
  --mixin-VJR9jnQVCoesm_white-space: pre-wrap;
  --mixin-wAlDh9-A0Sp46_white-space: pre-wrap;
  --mixin-TeYlQVa46JZFq_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-wJ2qx1hmpguf_font-family);
  font-size: var(--mixin-wJ2qx1hmpguf_font-size);
  font-weight: var(--mixin-wJ2qx1hmpguf_font-weight);
  font-style: var(--mixin-wJ2qx1hmpguf_font-style);
  color: var(--mixin-wJ2qx1hmpguf_color);
  text-align: var(--mixin-wJ2qx1hmpguf_text-align);
  text-transform: var(--mixin-wJ2qx1hmpguf_text-transform);
  line-height: var(--mixin-wJ2qx1hmpguf_line-height);
  letter-spacing: var(--mixin-wJ2qx1hmpguf_letter-spacing);
  white-space: var(--mixin-wJ2qx1hmpguf_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-3RtOv9dArNDc_color);
  font-weight: var(--mixin-3RtOv9dArNDc_font-weight);
  font-size: var(--mixin-3RtOv9dArNDc_font-size);
  line-height: var(--mixin-3RtOv9dArNDc_line-height);
  letter-spacing: var(--mixin-3RtOv9dArNDc_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-y_NuQSBIb7Rv_color);
  font-size: var(--mixin-y_NuQSBIb7Rv_font-size);
  font-weight: var(--mixin-y_NuQSBIb7Rv_font-weight);
  letter-spacing: var(--mixin-y_NuQSBIb7Rv_letter-spacing);
  line-height: var(--mixin-y_NuQSBIb7Rv_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-tXp-7hei1CJt_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-pfHSZqVaR9vH_color);
  font-size: var(--mixin-pfHSZqVaR9vH_font-size);
  font-weight: var(--mixin-pfHSZqVaR9vH_font-weight);
  letter-spacing: var(--mixin-pfHSZqVaR9vH_letter-spacing);
  line-height: var(--mixin-pfHSZqVaR9vH_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-HYgZFKy2pUCO_color);
  font-size: var(--mixin-HYgZFKy2pUCO_font-size);
  font-weight: var(--mixin-HYgZFKy2pUCO_font-weight);
  letter-spacing: var(--mixin-HYgZFKy2pUCO_letter-spacing);
  line-height: var(--mixin-HYgZFKy2pUCO_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: #f8f8f8;
  font-family: var(--mixin-NznuAWTIEsqA_font-family);
  border-radius: var(--mixin-NznuAWTIEsqA_border-top-left-radius)
    var(--mixin-NznuAWTIEsqA_border-top-right-radius)
    var(--mixin-NznuAWTIEsqA_border-bottom-right-radius)
    var(--mixin-NznuAWTIEsqA_border-bottom-left-radius);
  padding: var(--mixin-NznuAWTIEsqA_padding-top)
    var(--mixin-NznuAWTIEsqA_padding-right)
    var(--mixin-NznuAWTIEsqA_padding-bottom)
    var(--mixin-NznuAWTIEsqA_padding-left);
  border-top: var(--mixin-NznuAWTIEsqA_border-top-width)
    var(--mixin-NznuAWTIEsqA_border-top-style)
    var(--mixin-NznuAWTIEsqA_border-top-color);
  border-right: var(--mixin-NznuAWTIEsqA_border-right-width)
    var(--mixin-NznuAWTIEsqA_border-right-style)
    var(--mixin-NznuAWTIEsqA_border-right-color);
  border-bottom: var(--mixin-NznuAWTIEsqA_border-bottom-width)
    var(--mixin-NznuAWTIEsqA_border-bottom-style)
    var(--mixin-NznuAWTIEsqA_border-bottom-color);
  border-left: var(--mixin-NznuAWTIEsqA_border-left-width)
    var(--mixin-NznuAWTIEsqA_border-left-style)
    var(--mixin-NznuAWTIEsqA_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-5tk0Ll7mEuCU_color);
  padding-left: var(--mixin-5tk0Ll7mEuCU_padding-left);
  border-left: var(--mixin-5tk0Ll7mEuCU_border-left-width)
    var(--mixin-5tk0Ll7mEuCU_border-left-style)
    var(--mixin-5tk0Ll7mEuCU_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: #f8f8f8;
  font-family: var(--mixin-taGruVBZ3AFE_font-family);
  border-radius: var(--mixin-taGruVBZ3AFE_border-top-left-radius)
    var(--mixin-taGruVBZ3AFE_border-top-right-radius)
    var(--mixin-taGruVBZ3AFE_border-bottom-right-radius)
    var(--mixin-taGruVBZ3AFE_border-bottom-left-radius);
  padding: var(--mixin-taGruVBZ3AFE_padding-top)
    var(--mixin-taGruVBZ3AFE_padding-right)
    var(--mixin-taGruVBZ3AFE_padding-bottom)
    var(--mixin-taGruVBZ3AFE_padding-left);
  border-top: var(--mixin-taGruVBZ3AFE_border-top-width)
    var(--mixin-taGruVBZ3AFE_border-top-style)
    var(--mixin-taGruVBZ3AFE_border-top-color);
  border-right: var(--mixin-taGruVBZ3AFE_border-right-width)
    var(--mixin-taGruVBZ3AFE_border-right-style)
    var(--mixin-taGruVBZ3AFE_border-right-color);
  border-bottom: var(--mixin-taGruVBZ3AFE_border-bottom-width)
    var(--mixin-taGruVBZ3AFE_border-bottom-style)
    var(--mixin-taGruVBZ3AFE_border-bottom-color);
  border-left: var(--mixin-taGruVBZ3AFE_border-left-width)
    var(--mixin-taGruVBZ3AFE_border-left-style)
    var(--mixin-taGruVBZ3AFE_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-nEATO6oC_4UJs_display);
  flex-direction: var(--mixin-nEATO6oC_4UJs_flex-direction);
  align-items: var(--mixin-nEATO6oC_4UJs_align-items);
  justify-content: var(--mixin-nEATO6oC_4UJs_justify-content);
  list-style-position: var(--mixin-nEATO6oC_4UJs_list-style-position);
  padding-left: var(--mixin-nEATO6oC_4UJs_padding-left);
  position: var(--mixin-nEATO6oC_4UJs_position);
  list-style-type: var(--mixin-nEATO6oC_4UJs_list-style-type);
  flex-column-gap: var(--mixin-nEATO6oC_4UJs_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-onTSwaV-TcMv6_display);
  flex-direction: var(--mixin-onTSwaV-TcMv6_flex-direction);
  align-items: var(--mixin-onTSwaV-TcMv6_align-items);
  justify-content: var(--mixin-onTSwaV-TcMv6_justify-content);
  list-style-position: var(--mixin-onTSwaV-TcMv6_list-style-position);
  padding-left: var(--mixin-onTSwaV-TcMv6_padding-left);
  position: var(--mixin-onTSwaV-TcMv6_position);
  list-style-type: var(--mixin-onTSwaV-TcMv6_list-style-type);
  flex-column-gap: var(--mixin-onTSwaV-TcMv6_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin--aKyJ739bVcjE_color);
  font-size: var(--mixin--aKyJ739bVcjE_font-size);
  font-weight: var(--mixin--aKyJ739bVcjE_font-weight);
  letter-spacing: var(--mixin--aKyJ739bVcjE_letter-spacing);
  line-height: var(--mixin--aKyJ739bVcjE_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-fpszNwxTlBMbq_color);
  font-size: var(--mixin-fpszNwxTlBMbq_font-size);
  font-weight: var(--mixin-fpszNwxTlBMbq_font-weight);
  line-height: var(--mixin-fpszNwxTlBMbq_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-VJR9jnQVCoesm_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
